@page "/enderecos"
@attribute [Authorize()]
@using MaterialeShop.Enderecos
@using MaterialeShop.Localization
@using MaterialeShop.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using MaterialeShop.Permissions
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@inherits MaterialeShopComponentBase
@inject IEnderecosAppService EnderecosAppService
@inject IUiMessageService UiMessageService
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Enderecos"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="EnderecoSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="EnderecoSearchForm" Clicked="GetEnderecosAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="EnderecoDto"
                  Data="EnderecoList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="EnderecoDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="EnderecoDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="EnderecoDto"
                                          Visible="@CanEditEndereco"
                                          Clicked="async () => await OpenEditEnderecoModalAsync(context)"
                                          Text="@L["Edit"]"></EntityAction>
                            <EntityAction TItem="EnderecoDto"
                                          Visible="@CanDeleteEndereco"
                                          Clicked="() => DeleteEnderecoAsync(context)"
                                          ConfirmationMessage="@(()=> L["DeleteConfirmationMessage"])"
                                          Text="@L["Delete"]"></EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
               
              <DataGridColumn TItem="EnderecoDto"
                      Field="EnderecoCompleto"
                      Caption="@L["EnderecoCompleto"]">
              </DataGridColumn>

            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateEnderecoModal" Closing="@CreateEnderecoModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="CreateEnderecoForm">
            <ModalHeader>
                <ModalTitle>@L["NewEndereco"]</ModalTitle>
                <CloseButton Clicked="CloseCreateEnderecoModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewEnderecoValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewEndereco"
                            ValidateOnLoad="false">
                     
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnderecoCompleto"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewEndereco.EnderecoCompleto" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Blazorise.Button Color="Blazorise.Color.Secondary"
                        Clicked="CloseCreateEnderecoModalAsync">
                    @L["Cancel"]
                </Blazorise.Button>
                <SubmitButton Form="CreateEnderecoForm" Clicked="CreateEnderecoAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditEnderecoModal" Closing="@EditEnderecoModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="EditEnderecoForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditEnderecoModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingEnderecoValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingEndereco"
                            ValidateOnLoad="false">
                     
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["EnderecoCompleto"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingEndereco.EnderecoCompleto" >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Blazorise.Button Color="Blazorise.Color.Secondary"
                        Clicked="CloseEditEnderecoModalAsync">
                    @L["Cancel"]
                </Blazorise.Button>
                <SubmitButton Form="CreateEnderecoForm" Clicked="UpdateEnderecoAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
