@page "/listas4"
@attribute [Authorize()]
@using MaterialeShop.Listas
@using MaterialeShop.Localization
@using MaterialeShop.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using MaterialeShop.Permissions
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@inherits MaterialeShopComponentBase
@inject IListasAppService ListasAppService
@inject IUiMessageService UiMessageService
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

<h1>LISTAS 4</h1>
<p>table.CurrentPage: @table?.CurrentPage</p>
<p>table.RowsPerPage: @table?.RowsPerPage</p>

<MudTable 
    Items="@_listaList"
    @ref="table"
    Hover="true"
    SortLabel="Sort By">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Lista de compras</MudText>
        <MudSpacer />
        <MudTextField 
            T="string" 
            ValueChanged="@(s=>OnSearch(s))" 
            Placeholder="Search" Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="MudBlazor.Size.Medium" Class="mt-0"/>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ListaWithNavigationPropertiesDto, object>(x=>x.Lista.Titulo)">Título</MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ListaWithNavigationPropertiesDto, object>(x=>x.Endereco.EnderecoCompleto)">Endereço</MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Título">@context.Lista.Titulo</MudTd>
        <MudTd DataLabel="Endereço">@context.Endereco.EnderecoCompleto</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
    </PagerContent>
</MudTable>